@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "fumadocs-ui/css/dusk.css";
@import "fumadocs-twoslash/twoslash.css";

@source '../node_modules/fumadocs-ui/dist/**/*.js';

.cm-editor .cm-scroller {
    padding: 0.5rem;
}

header {
    @apply border-none max-w-full lg:mt-0 lg:py-1 lg:rounded-none lg:w-full;

    nav {
        @apply lg:max-w-fd-container mx-auto;
    }
}

@keyframes slide-in-right {
    from {
        transform: translateX(-10px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-slide-in-right {
    animation: slide-in-right 0.2s ease-out forwards;
}

.animate-fade-in {
    animation: fade-in 0.2s ease-out forwards;
}
